<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 日志保存路径为tomcat下面的logs/houseLog文件夹，logback会自动创建文件夹,这样设置就可以输出日志文件-->
    <substitutionProperty name="logbase" value="${catalina.base}/logs/houseLog"></substitutionProperty>
    <substitutionProperty name="logbase" value="${user.dir}/logs"></substitutionProperty>

    <!-- 这个是要配置控制台输出文件的 -->
    <jmxConfigurator></jmxConfigurator>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %logger输出日志的logger名 %msg：日志消息，%n是换行符 -->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{36} : %msg%n</pattern>
            <!--解决乱码问题-->
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--滚动文件-->
    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- ThresholdFilter:临界值过滤器，过滤掉 TRACE 和 DEBUG 级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory><!--保存最近30天的日志-->
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{36} : %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Output by Email -->
    <!--<appender name="Email" class="ch.qos.logback.classic.net.SMTPAppender">
        <SMTPHost>stmp host name</SMTPHost>
        <To>Email Address</To>
        <To>Email Address</To>
        <From>Email Address</From>
        <Subject>TESTING Email Function: %logger{20} - %m</Subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout">
             <pattern>%date%level%thread%10logger%file%line%msg</pattern>
        </layout>
    </appender>-->
    <root>
        <level value="debug" />
        <appender-ref ref="stdout" />
        <appender-ref ref="errorFile" />
    </root>

</configuration>